<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- Max value of verbose =10 and minimum =1, prefer 4 mostly so that will get
meaning full o/p in console -->
<!-- thread-count="3" parallel="tests"  USED FOR PARELLEL BROWSER TESTING, ALL WILL LUNCH PARALLELLY-->

<suite name="TestNG Regression Suite" verbose="4" thread-count="3" parallel="tests">


	<test name="Google Test">
		<parameter name="url" value="https://www.google.com/" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testNgSessions.GoogleTest" />
		</classes>
	</test>

	<test name="Amazon Test">
		<parameter name="url" value="https://www.amazon.in/" />
		<parameter name="browser" value="edge" />
		<classes>
			<class name="testNgSessions.AmazonTest" />
		</classes>
	</test>

	<test name="Opencart Test">
		<parameter name="url"
			value="https://naveenautomationlabs.com/opencart/index.php?route=account/login" />
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="testNgSessions.OpenCart" />
		</classes>
	</test>


</suite>
